body {
  font-size: 24px;
  line-height: 32px;
}
.img {
  position: sticky ;
  display: block;
  clear: both;

}

header {
  padding: 20px;
  margin-bottom: 20px;
}

#Name {
  background-color:rgba(62, 172, 172, 0.747) ;
  color:white;
  float: auto;
  width:33.3%;
  height: 75px;
  margin-bottom: 20px; 
}
#Text {
  color: white ;
}


#Bio {
 float: right;
 width: 70%;
}

.Porfolio {
  position: relative;
  height: 400px;
}

#left {
float: left;
width:33.3%;
color:white ;
height: 7px;
margin-bottom: 7px;
}

#Games {
background-color:  rgba(62, 172, 172, 0.747) ;
color:white  ;
margin: 5% 5% 5% 5%;
float: left;
padding: 1%;

}

#middle {
float: left;
width: 33.3%;
color: white ;
height: 7px;
margin-bottom: 7px;

}
#Art {
background-color: rgba(62, 172, 172, 0.747) ;
color: white ;
margin: 5% 5% 5% 5%;
float: left;
padding: 1%;

}

#right {
float: left;
width: 20%;
color: white ;
height: 7px;
margin-bottom: 7px;

  }

#Writing {
background-color: rgba(62, 172, 172, 0.747) ;
color:white ;
margin: 5% 5% 5% 5%;
padding: 1%;
float: left;
}

#full {
  width: 200px;
  height: 200px ;
  fill-opacity: initial;
 
}

#division {
  width: 90%;
  margin: 70px 5% 0px 5%;
height: 75px;
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
#box {
  width: 400px;
  height: 300px;
}

aside {
 
   background-color:rgba(62, 172, 172, 0.747);
   width: 100%;
   height: 100%;
   padding: 1%;
}

footer {
  background-color:  rgba(62, 172, 172, 0.747) ;
  padding: 20px;
  margin-bottom: 20px;
  color: white ;
}

